{% load cache %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Track</title>
</head>
<body>
	<h2>{{ request.user }}</h2>
	<nav>
		<ul>
			{% for track in tracks %}
			<li>
				<a href="/tracks/{{track.id}}">{{ track.name }}</a>
				{% if track.id == selected_track.id %}
				*****************
				{% endif %}
			</li>
			{% endfor %}
		</ul>
	</nav>
	<section>
		{% cache 60 track.name %}
		<p>Name: {{ track.name }}</p>
		{% endcache %}
		<p>Order: {{ track.order }}</p>
		<p>File: {{ track.track_file }}</p>
		<p>Album: {{ track.album }}</p>
		<p>Artist: {{ track.artist }}</p>
		<p>Biography: {{ track.artist.biography }}</p>
	</section>
</body>
</html>